body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
    width: 42em;
}
table {
    border-collapse: collapse;
}

.specName {
    font-size: larger;
}

.code {
    font-family: "Lucida Console", Monaco, monospace;
}

TABLE {
}

TD {
    vertical-align: top
}

.branchNum {
    margin-top: 4px;
    color: gray;
}

.nodeName {
    font-family: "Lucida Console", Monaco, monospace;
    color: magenta;
}

.doc {
    color: darkblue;
}

.branchDoc {
    font-size: smaller;
    font-style: oblique;
}

.branchingType {
    color: red;
}

P {
    margin-top: 0em;
    padding-top: 0em;
}

.branches {
    margin-top: 0.5em;
    
}

.node {
    border-top: 1pt solid gray;
}